<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DeploymentFolderPath" value="D:\Deployment\Insurance"/>
		<add key="EmailTo" value="ankit.das@iifl.com"/>
		<add key="OrderAPIBaseUrl" value="https://grouppolicy-uat.iiflinsurance.com:5050/insurance/OrderAPI/"/>
		<add key="ProductAPIBaseUrl" value="https://grouppolicy-uat.iiflinsurance.com:5050/insurance/ProductAPI"/>
		<add key="PaymentAPIBaseUrl" value="https://grouppolicy-uat.iiflinsurance.com:5050/Insurance/PaymentAPI "/>
	</appSettings>
</configuration>